commands:
  01-composer:
    command: export COMPOSER_HOME=/root
  02-pgsql:
    command: wget https://ftp.postgresql.org/pub/source/v11.6/postgresql-11.6.tar.gz --no-check-certificate;tar zxvf postgresql-11.6.tar.gz;cd postgresql-11.6;./configure --without-readline;make;make install;sudo cp /usr/local/pgsql/bin/pg_dump /usr/local/bin

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root